*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.white{
    background-color: white;
    color: black;
    width:500px;
    padding: 5px;
    border-radius: 30px;
    margin:20px auto;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.white i{
    font-size:unset;
}
.round img{
    width:100%
}

#center{
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

ul{
    list-style: none;
    margin-left: 20px;
}

li{
    padding:10px
}

input[type="range"]{
    display: block;
    width: 80vw;
    height: 5px;
    position:absolute;
    bottom: 65px;
    left: 10%;
    cursor: pointer;
}

nav img{
    height: 70px;
    margin: 10px 30px;
}

i{
    margin:15px;
    font-size: 35px;
    cursor: pointer;
}

#bottom{
    position: absolute;
    bottom: 0px;
}

@media(max-width:500px){
    .white{
        width:300px;
    }
}
@media(max-width:350px){
    .white{
        width:250px;
    }
}
@media(max-width:330px){
    .white{
        width:200px;    
        padding:unset;
    }
}

.center{
    display: flex;    
    justify-content: center;
}

@media(max-width:700px){
    .center img{
        left: 55px;
    }
}

@media(max-width:560px){
    .center img{
        left: 0px;
    }
}

.opacity{
    opacity: 0;
    transition:2s ease-out;
}

h3{
    position:absolute;
    left:165px;
    bottom:25px;
}

@media(max-width:900px){
    h3{
        position:unset;
    }
}

.round{
    border-radius: 50%;
    overflow: hidden;
    height:50px;
    width:50px;
}
@media(max-width:350px){
    .round{
        border-radius: unset;
        width: 100%;
        height: auto;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .white span,p,i{
        font-size: small;
    }
    .white{
        display: grid;
        grid-template-columns: 130px 1fr;
        grid-template-rows: 1fr 30px;
        border-radius: 5px;
    }
    .white p{
        justify-self: flex-end;
    }
    .center{
        width:100%;
        position:fixed;
        bottom:0px;
    }
    #bottom i{
        font-size: 30px;
    }
    #bottom{
        width: 72%;
        height:70px;
    }
    .black{
        background-color: rgba(0,0,0,0.6);
    }
    .center h3{
        width: 100%;
        position: absolute;
        bottom:65px;    
        left:10%;
        height: 50px;
        padding-top: 15px;
        font-size: small;
    }
    input[type='range']{
        z-index:8;
    }
    #append{
        margin-bottom:180px;
    }
}